@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
}
